.main-main {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    background-color: black;

}

.main {
    /* margin-left: 24em; */
    border-radius: 50px;
    width: 70%;
    background-color: #5f5e5c;
    /* background-color: #605e5c; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.1em;

}

.picture {
    /* Border and background styles */
    border: 2px solid black;
    background-color: white;

    /* Image and blur effect */
    background-image: url(background.png); /* Specify your background image */
    /* Background display settings */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;

    /* Container sizing and alignment */
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Spacing and opacity */
    /* gap: 1em; */
    padding-right: 1em;
    margin-top: -1.5em;
}


.logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.5em;
    width: 100%;
    /* margin-left: 10em; */
    /* padding-bottom: 2em; */
    /* margin-top: 2em; */
}

/* .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
    width: 50%;
} */

.info {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}


.gmail,
.call,
.whatapp {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}

.gmail {
    width: 400px;
}

.BIG {
    font-size: 2.5em;
}

.Navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px 0px 20px;
    height: 50px;
    padding: 2em;
    padding-bottom: 2em;
}

#uls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.contact {
    color: white;
    font-size: 1.2em;
}

.LIS:hover {
    opacity: 0.5;
}