.MAIN {
    width: 90vw;
}

.container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
}

.container2 {
    margin: 1em 5em 1em 20em;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: blue;
    color: black;
    width: 100%;
}

.body {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.Table {
    margin: em;
}

#tablee {
    width: 25vw;
}

.EatingForm {
    margin-left: -8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

#BUTTON {
    width: 10em;
    height: 2em;
}


@media screen and (max-width: 1450px) {
    .body {
        flex-direction: column;
        width: 100%;
    }

    #tablee {
        width: 68vw;
    }
}

@media screen and (max-width: 992px) {
    #tablee {
        margin-left: 0em;
    }

    .container2 {
        margin-left: 5em;
        margin-right: 5em;
    }
}
/* Placeholder styles */
input[type="text"] {
    color: #000000;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 20px;
  }
  
  /* Save meal button */
  button {
    padding: 12px 24px; 
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }

/* Small <= 768px */

@media screen and (max-width: 768px) {
    .container2 {
        margin-left: 1em;
        margin-right: 1em;
    }

    .body {
        flex-grow: inherit;
    }
}

@media screen and (max-width: 576px) {}

.form-box {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

.form-box input[type="text"] {
  width: 100%;
  margin-bottom: 15px; 
}

.form-box button {
  background-color: #007bff;
  color: #fff; 
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
  display: flex; 
  margin-left: 300px
}

.form-box button:hover {
  background-color: #0056b3;
}
