.Rooms {
    height: 75em;
    margin-bottom: -2.5em;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.first,
.second {
    border: 1px solid black;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90%;
    padding: 2em;
    border-radius: 2em;
    gap: 2em;
}


.second:hover {
    opacity: 0.8;
}

.btn-three,
.btn-one {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 2em;
}

.btn-four,
.btn-one {
    height: 29em;
    width: 50%;
    background-repeat: no-repeat;
    padding: 2em;
    border-radius: 2em;
}

.Feature {
    height: 29em;
    border-radius: 2em;
    width: 100%;
}