.Rooms {
    height: auto;
    margin-bottom: -2.5em;
}

.first {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 1%;
    /* margin-left: 5%; */
    width: 98%;
}

.btn-one {
    /* background-image: url(first.png); */
    height: 29em;
    width: 55em;
    background-repeat: no-repeat;
    object-fit: cover;
}

.btn-two {
    /* background-image: url(firstRight.png); */
    background-repeat: no-repeat;
    height: 29em;
    width: 100em;
    object-fit: cover;
}

/* .second {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.btn-three {
    background-image: url(secondRight.png);
    height: 34em;
    width: 55em;
    background-repeat: no-repeat;
    object-fit: cover;
}

.btn-four {
    background-image: url(secondLeft.png);
    background-repeat: no-repeat;
    height: 29em;
    width: 100em;
    object-fit: cover;
} */