.Rooms {
    height: auto;
    margin-bottom: -2.5em;
    background-color: #e4e4e4;
}

.first {
    padding-top: 5em;
    display: flex;
    align-items: start;
    justify-content: center;
    /* margin: 1%; */
    margin-left: 10%;
    width: 80%;
}

.btn-one {
    height: 34.3em;
    width: 40%;
    background-repeat: no-repeat;
    padding: 2em;
}

.btn-two {
    height: 40em;
    width: 60%;
    background-repeat: no-repeat;
    margin-left: 3em;
}

.second {
    padding-top: 5em;
    display: flex;
    align-items: start;
    justify-content: center;
    /* margin: 1%; */
    margin-left: 10%;
    width: 80%;
}


.btn-three {
    height: 40em;
    width: 60%;
    background-repeat: no-repeat;
    margin-left: 3em;
}

.btn-four {
    height: 34.3em;
    width: 40%;
    background-repeat: no-repeat;
    padding: 2em;
}