.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    margin-top: 2em;
    /* background-color: #462b74; */
    background-color: #1b2432;
    color: white;
    border-top: 2px solid white;
}

.secondSecond {
    width: 40%;
}

.thirdSection {
    width: 20%;
}


.absloute {
    position: fixed;
    bottom: -5em;
    right: -5em;
    width: 15em;
    background-color: #008d0a;
    height: 10em;
    border-radius: 50%;
    display: flex;
    color: white;
    font-weight: 700;
}

.secondSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Payment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.share-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-top: 1em;
}

.share {
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

@media screen and (max-width: 1000px) {
    .footer {
        align-items: start;
        padding-bottom: 3em;
    }
}

@media screen and (max-width: 820px) {
    .share-parent {
        align-items: start;
        justify-content: center;
    }
}