.HOME {
  background-color: #e4e4e4;
  width: 100%;
  height: 100%;
}

.slider {
  margin-top: 1em;
  background-color: rgb(228, 228, 228);
  width: 100%;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin-top: -2em;
  width: 70em;
  height: 35em;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 20px black);
}

.right-arrow {
  position: absolute;
  top: 40%;
  right: 2em;
  font-size: 5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  /* filter: drop-shadow(10px 10px 20px black); */
}

.left-arrow {
  position: absolute;
  top: 40%;
  left: 2em;
  font-size: 5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  /* filter: drop-shadow(5px 20px 15px black); */
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}


@media screen and (max-width: 1750px) {
  .right-arrow {
    right: 1em;
  }

  .left-arrow {
    left: 1em;
  }

  .slider {
    height: 77vh;
  }
}

@media screen and (max-width: 1600px) {
  .right-arrow {
    right: 5px;
  }

  .left-arrow {
    left: 5px;
  }

  .slider {
    height: 75vh;
  }
}

@media screen and (max-width: 1450px) {
  .image {
    width: 60em;
    height: 32em;
    margin-top: -2em;
  }

  .right-arrow {
    top: 40%;
  }

  .left-arrow {
    top: 40%;
  }

  .slider {
    height: 72vh;
  }
}


@media screen and (max-width: 1250px) {
  .image {
    width: 50em;
    height: 29em;
    margin-top: 10px;
  }

  .right-arrow {
    top: 35%;
  }

  .left-arrow {
    top: 35%;
  }

  .slider {
    height: 60vh;
  }
}

@media screen and (max-width: 1100px) {

  .right-arrow,
  .left-arrow {
    font-size: 3.9em;
    top: 45%;
  }

  .slider {
    height: 65vh;
  }
}

@media screen and (max-width: 1000px) {
  .image {
    width: 40em;
    height: 25em;
  }
}

@media screen and (max-width: 850px) {
  .image {
    width: 38em;
    height: 24em;
  }

  .right-arrow {
    font-size: 4em;
  }

  .left-arrow {
    font-size: 3em;
  }
}

@media screen and (max-width: 830px) {
  .HOME {
    width: 52.5em;

  }
}

@media screen and (max-width: 700px) {
  .slider {
    margin-top: 2em;
    margin-bottom: 2em;
    height: auto;
  }
}