.MAIN {
    background-color: #e4e4e4;
}

.ResidentHome {
    width: auto;
    height: 100vh;
    margin: 20px;
}

.Form {
    display: flex;
    align-items: center;
    height: auto;
    width: 50em;
    gap: 2em;
}



