.Main-Card {
    /* margin: 1em; */
    padding: 1em 10em 1em 10em;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d9d9d9;
    padding: 1.5em;
}

.Image {
    display: flex;
    flex-direction: column;

}

#Imgaefotter {
    background-color: black;
    color: white;
    opacity: 0.6;
    height: 1.5em;
    margin-top: -1.5em;
}

#box {
    background-color: white;
    color: black;
    width: 80%;
    height: 152px;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.Text h3 {
    font-size: 2.5em;
    font-weight: 500;
}

.Text p {
    font-size: 1.3em;
    font-weight: 500;
}

.capacity {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.Control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Control h3 {
    font-size: 1.6em;
    font-weight: 500;
}

.Control button {
    background: #FFD700;
    font-size: 1.7em;
    padding: 0.4em;
    border-radius: 0.4em;
    font-weight: 500;
}